body{
  background-color: #5893d4;
  font-family: Roboto;
}
img{
  border-radius: 50%;
}
hr{
  border-style: dotted none none;
  border-color: white;
  border-width: 5px;
  width: 5%;
}
h1{
  color: white;
}
h2{
  color: white;
}
